body{

  background-image: linear-gradient(130deg, #2F58CD, #3A1078);
  font-family: 'Ubuntu Mono', monospace;
  padding-left: 15px;
  padding-right: 25px;
}


.imagen{
  width: 350px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.difuminado{
  background-color: red;
  width: auto;
  height: auto;
}

.title{
  font-size: 40px;
  color: rgb(20, 1, 89);
}

.subtitle{
    font-size: 3em;
}

h3{
  font-size: 40px;
  color: #46b9ea;
  text-shadow: 0 0 17px rgb(20, 1, 89);
}

p{
  font-size: 20px;
  text-align: justify;
}

.colorPersonajes{
  color: #46b9ea;
}

.protagonistas{
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 81px;
}

.card{
  width: 45%;
}

.right{
  float: right;
}

.left{
  float: left;
}

footer{
  padding-top: 50px;
  clear: both;
}


@media (max-width: 700px) {

  .title{
    text-align: center;
  }
  .subtitle{
    font-size: 1.5rem;
    text-align: center;
  }
  .protagonistas{
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: justify;
  }
  
  .left{
    float:none;
  }
  .right{
    float: none;
  }
  
  .card{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  .imagen{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  }
  
}